<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<div class="rsh_result_open">
				<div class="rsh_result_head">
					<div class="result_tags small_light">
						<i class="fa fa-tag"></i>Divorce, Second Marriage, Divorce, Second Marriage
					</div>
					<div class="result_ques">
						Are Primary polls finally effective? No, But this is when the fun starts.
					</div>
					<div class="result_info_strip small_light">
						<i class="fa fa-calendar"></i>28 Dec 2015 &nbsp;|&nbsp; <i class="fa fa-eye"></i>Views: 88 &nbsp;|&nbsp; <i class="fa fa-arrow-up"></i>Upvotes: 25
					</div>
				</div>
            </div>
            <div class="rsh_open_descr">
				<div class="rsh_result_body">
					<div class="credibility_facts">
						<div class="cf_img">
							<img src="./img/people.png">
						</div>
						<div class="cf_facts">
							<div class="cf_facts_name">Sharat N Darji</div>
							<div class="cf_facts_descr small_light ellipsis">
                            Lorem ipsum dolor sit amet.
                            </div>
						</div>
					</div>
					<div class="result_ans">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quis laboriosam exercitationem, dicta voluptas, voluptatem temporibus voluptatum aliquam, accusamus eaque nobis porro enim unde incidunt! Ullam soluta ut ipsum provident magnam nemo, error magni eos. Voluptas nulla tempore fugit, voluptatibus, odio quasi asperiores. Culpa eius voluptatem adipisci molestiae necessitatibus quidem magnam laudantium nostrum dolore, consequuntur ratione porro ipsum iure minus impedit expedita voluptatibus rem voluptates commodi facilis cum fugit libero deserunt. Autem nisi laudantium, perspiciatis nulla eligendi harum natus a laboriosam placeat minima fugiat, molestias voluptas doloremque aperiam in tenetur eveniet neque. Necessitatibus placeat ut qui harum nisi blanditiis tenetur.
                        <br/>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quis laboriosam exercitationem, dicta voluptas, voluptatem temporibus voluptatum aliquam, accusamus eaque nobis porro enim unde incidunt! Ullam soluta ut ipsum provident magnam nemo, error magni eos. Voluptas nulla tempore fugit, voluptatibus, odio quasi asperiores. Culpa eius voluptatem adipisci molestiae necessitatibus quidem magnam laudantium nostrum dolore, consequuntur ratione porro ipsum iure minus impedit expedita voluptatibus rem voluptates commodi facilis cum fugit libero deserunt. Autem nisi laudantium, perspiciatis nulla eligendi harum natus a laboriosam placeat minima fugiat, molestias voluptas doloremque aperiam in tenetur eveniet neque. Necessitatibus placeat ut qui harum nisi blanditiis tenetur.
					</div>
				</div>
            </div>

		</div>
	</div>
</div>
